body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 800px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

.nav {
  float: left;
  width: 300px;
}

.chatClient {
  float: right;
  width: 500px;
}

.footer{
  clear: both;
}